.mainstudentContainer{
   padding: 24px;
  background-color: white;
  position: relative;

}

.studentTable{
  width: 80vw;
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
  
  
}
.profile{
  width: 50px;
  height: 50px;
  border-radius: 25px;
 
}
.profileImage{
  display: flex;
  align-items: center;
  gap: 12px;
}

.studentTable thead{
  background-color: rgba(235, 249, 218, 1);

}
.studentTable th,
.studentTable td
{
  padding: 12px 16px;
  text-align: left;
}

.studentTable td{
  border-bottom: 1px black solid;
}
.trow{
  transition: background-color 0.2s ease-in-out;
}
.trow:hover{
 background-color: rgb(212, 208, 208);
 cursor: pointer;
}
.deleteIcon{
 
  color: red;
  cursor: pointer;
}
.deleteIcon :hover{
  color: rgb(12, 215, 147);

}
.EditIcon{
  color:blue;
}
.EditIcon:hover{
  cursor:default;
}
.delete{
  color: red;
 font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.loader {
    position: relative;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
     border-radius: 50%;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: 0px;
    margin: auto;
    background: #de3500;
    animation: crlMugLoader 2s linear infinite alternate;
  }
  @keyframes crlMugLoader {
    0%  ,10% { transform: translateY(64px) }
    90% , 100% { transform: translateY(0px) }
  }
      
.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;



}